                    This system is supported by {{ generic_motd__support_name }} via

       Please do not hesitate to contact us if you need help
       Mail: {{ generic_motd__support_mail }}                      Tel: {{ generic_motd__support_tel }}
       
